#title{
    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
#My day{
    color: #00008b;
    font-style:italic;
    font-size: x-large;
}
#My Birthday{
width: 500%;
height: 500%;
}
#h1{
    font-size: xx-large;
    color: darkorange;
    font-family: Arial, Helvetica, sans-serif;
}
Thank you Lord for an other year!{
    font-size:
}